### PREPROD

In [59]:
import pandas as pd
from sqlalchemy import create_engine
from dotenv import load_dotenv
import os


# Load environment variables from .env file
load_dotenv()

# Accessing environment variables
user = os.getenv('DB_USER')
password = os.getenv('DB_PASSWORD')
host = os.getenv('DB_HOST')
port = os.getenv('DB_PORT')  # Default PostgreSQL port is 5432, but we're using a custom one here
db_name = os.getenv('DB_NAME')

# Create the connection URL
connection_string = f'postgresql://{user}:{password}@{host}:{port}/{db_name}'

# Create the engine
engine = create_engine(connection_string)

### PROD

In [90]:
from sqlalchemy import create_engine
from dotenv import load_dotenv
import os

# Load environment variables from .env file
load_dotenv()

# Accessing environment variables
user = os.getenv('DB_USER_PROD')
password = os.getenv('DB_PASSWORD_PROD')
host = os.getenv('DB_HOST_PROD')
port = os.getenv('DB_PORT_PROD')  # Default PostgreSQL port is 5432, but we're using a custom one here
db_name = os.getenv('DB_NAME_PROD')

# Create the connection URL
connection_string = f'postgresql://{user}:{password}@{host}:{port}/{db_name}'

# Create the engine
engine = create_engine(connection_string)

In [91]:
engine

Engine(postgresql://airflow:***@quefairedem-5084.postgresql.a.osc-fr1.scalingo-dbs.com:33262/quefairedem_5084)

In [92]:
df_rev = pd.read_sql_table("qfdmo_revisionacteur",engine)


df_act = pd.read_sql_table("qfdmo_acteur",engine)

/Users/hamzaa/data/quefairedemesobjets/venv/lib/python3.9/site-packages/pandas/io/sql.py:1665: SAWarning: Did not recognize type 'geometry' of column 'location'
  self.meta.reflect(bind=self.con, only=[table_name], views=True)
/Users/hamzaa/data/quefairedemesobjets/venv/lib/python3.9/site-packages/pandas/io/sql.py:1665: SAWarning: Did not recognize type 'geometry' of column 'location'
  self.meta.reflect(bind=self.con, only=[table_name], views=True)

In [93]:
df_rev_pdsc = pd.read_sql_query("""select rps.*, a.identifiant_externe, rps_sc.souscategorieobjet_id from qfdmo_revisionpropositionservice rps
join qfdmo_revisionacteur as ra on ra.identifiant_unique = rps.acteur_id
join qfdmo_acteur as a on ra.identifiant_unique = a.identifiant_unique
join qfdmo_revisionpropositionservice_sous_categories as rps_sc on rps_sc.revisionpropositionservice_id = rps.id
where ra.identifiant_unique in (select identifiant_unique from qfdmo_acteur where source_id = 45)""",engine)

In [94]:
df_rev_pdsc.to_sql("rev_pdsc_refashion",engine)

100

In [95]:
filtered_df = df_act[~df_act['identifiant_unique'].str.startswith("refashion_") & (df_act['source_id'] == 45)]
df_rev_man = pd.merge(filtered_df[['identifiant_unique','identifiant_externe']],df_rev, on = ['identifiant_unique'])
df_rev_man.rename(columns={'identifiant_externe_x': 'identifiant_externe'}, inplace=True)

In [96]:
df_rev_man.to_sql("rev_refashion",engine, if_exists='replace')

77

In [97]:
filtered_df.to_sql("refashion_actors",engine, if_exists='replace')

930

In [98]:
import psycopg2
from psycopg2 import sql

# Connect to the database again
conn = psycopg2.connect(
    dbname=db_name, 
    user=user, 
    password=password, 
    host=host,
    port=port
)
conn.autocommit = True
cursor = conn.cursor()
delete_queries = [
            """
            DELETE FROM qfdmo_propositionservice_sous_categories
            WHERE propositionservice_id IN (
                SELECT id FROM qfdmo_propositionservice
                WHERE acteur_id IN (
                    SELECT identifiant_unique FROM refashion_actors
                )
            );
            """,
            """
                 DELETE FROM qfdmo_acteur_labels
                  WHERE acteur_id IN (
                         SELECT identifiant_unique FROM refashion_actors
                      );
            """,
            """
            DELETE FROM qfdmo_propositionservice
            WHERE acteur_id IN (
                SELECT identifiant_unique FROM refashion_actors
            );
            """,
            """
            DELETE FROM qfdmo_acteur WHERE identifiant_unique
            in ( select identifiant_unique from refashion_actors);
            """,
          """
            DELETE FROM qfdmo_revisionpropositionservice_sous_categories
            WHERE revisionpropositionservice_id IN (
                SELECT id FROM qfdmo_revisionpropositionservice
                WHERE acteur_id IN (
                    SELECT identifiant_unique FROM refashion_actors
                )
            );
            """,
            """
            DELETE FROM qfdmo_revisionpropositionservice
            WHERE acteur_id IN (
                SELECT identifiant_unique FROM refashion_actors
            );
            """,
            """
            DELETE FROM qfdmo_revisionacteur WHERE identifiant_unique
            in ( select identifiant_unique from refashion_actors);
            """
        ]

for query in delete_queries:
    cursor.execute(query)

cursor.close()
conn.close()

### Validate th dagrun for refashion to trigger  ---> once it's done proceed below

In [99]:
df_act = pd.read_sql_table("qfdmo_acteur",engine)
df_rev = pd.merge(df_act[['identifiant_unique','identifiant_externe']], df_rev_man, on = ['identifiant_externe'])
df_rev.rename(columns={'identifiant_unique_x': 'identifiant_unique'}, inplace=True)
df_rev[
            [
                "identifiant_unique",
                "nom",
                "adresse",
                "adresse_complement",
                "code_postal",
                "ville",
                "url",
                "email",
                "location",
                "telephone",
                "nom_commercial",
                "nom_officiel",
                "siret",
                "identifiant_externe",
                "acteur_type_id",
                "statut",
                "cree_le",
                "modifie_le",
                "naf_principal",
                "commentaires",
                "horaires_osm",
                "horaires_description",
                "description",
            ]
        ].to_sql('qfdmo_revisionacteur',engine,            index=False,
if_exists="append",method="multi",
                chunksize=1000)

/Users/hamzaa/data/quefairedemesobjets/venv/lib/python3.9/site-packages/pandas/io/sql.py:1665: SAWarning: Did not recognize type 'geometry' of column 'location'
  self.meta.reflect(bind=self.con, only=[table_name], views=True)

77

#### run create final actors

In [100]:
df_act = pd.read_sql_table("qfdmo_acteur",engine)
df_pdsc_rev = pd.read_sql_table("rev_pdsc_refashion",engine)

/Users/hamzaa/data/quefairedemesobjets/venv/lib/python3.9/site-packages/pandas/io/sql.py:1665: SAWarning: Did not recognize type 'geometry' of column 'location'
  self.meta.reflect(bind=self.con, only=[table_name], views=True)

In [101]:
df_merged_pdsc  = pd.merge(df_pdsc_rev,df_act[['identifiant_externe','identifiant_unique']],on =['identifiant_externe'])
df_merged_pdsc = df_merged_pdsc.drop(columns=['acteur_id'])

df_merged_pdsc = df_merged_pdsc.rename(columns={'identifiant_unique': 'acteur_id'})

In [102]:
df_ref_pdsc = df_merged_pdsc.drop_duplicates(subset=['id','acteur_service_id', 'action_id', 'acteur_id'])
# List of acteur_id values to be excluded
excluded_ids = ['refashion_SWKLYBWCFOLZ', 'refashion_FINMHILZPXHW', 'refashion_WWXFNUVVIMHC', 'refashion_KFUJSXXOKJPM']

# Filter the DataFrame to exclude rows with the specified acteur_id values
df_ref_pdsc = df_ref_pdsc[~df_ref_pdsc['acteur_id'].isin(excluded_ids)]

df_ref_pdsc[["id","acteur_service_id", "action_id", "acteur_id"]].to_sql(
            "qfdmo_revisionpropositionservice",
            engine,
            if_exists="append",
            index=False,
            method="multi",
            chunksize=1000,
        )

26

In [103]:
excluded_ids = ['refashion_SWKLYBWCFOLZ', 'refashion_FINMHILZPXHW', 'refashion_WWXFNUVVIMHC', 'refashion_KFUJSXXOKJPM']

# Filter the DataFrame to exclude rows with the specified acteur_id values
df_merged_pdsc = df_merged_pdsc[~df_merged_pdsc['acteur_id'].isin(excluded_ids)]
df_merged_pdsc['revisionpropositionservice_id'] = df_merged_pdsc['id']
df_merged_pdsc[["revisionpropositionservice_id", "souscategorieobjet_id"]].to_sql(
            "qfdmo_revisionpropositionservice_sous_categories",
            engine,
            if_exists="append",
            index=False,
            method="multi",
            chunksize=1000,
        )

85

In [88]:
df_merged_pdsc

,index,id,acteur_service_id,action_id,identifiant_externe,souscategorieobjet_id,acteur_id,propositionservice_id,revisionpropositionservice_id
15,15,348300,15,1,TLC-REFASHION-REP-472824744185470582,107,refashion_TLC-REFASHION-REP-472824744185470582,348300,348300
16,16,348301,15,1,TLC-REFASHION-REP-498941904309751877,107,refashion_TLC-REFASHION-REP-498941904309751877,348301,348301
17,17,348302,15,1,TLC-REFASHION-REP-502099987361994444,107,refashion_TLC-REFASHION-REP-502099987361994444,348302,348302
18,18,348303,15,1,TLC-REFASHION-REP-471242227707845100,107,refashion_TLC-REFASHION-REP-471242227707845100,348303,348303
19,19,348304,15,1,TLC-REFASHION-REP-540872010531641439,107,refashion_TLC-REFASHION-REP-540872010531641439,348304,348304
...,...,...,...,...,...,...,...,...,...
95,95,348480,14,2,TLC-REFASHION-PAV-3317466,110,refashion_TLC-REFASHION-PAV-3317466,348480,348480
96,96,348480,14,2,TLC-REFASHION-PAV-3317466,109,refashion_TLC-REFASHION-PAV-3317466,348480,348480
97,97,348480,14,2,TLC-REFASHION-PAV-3317466,108,refashion_TLC-REFASHION-PAV-3317466,348480,348480
98,98,348505,17,1,TLC-REFASHION-REP-499899192172387837,107,refashion_TLC-REFASHION-REP-499899192172387837,348505,348505
99,99,348505,17,1,TLC-REFASHION-REP-499899192172387837,104,refashion_TLC-REFASHION-REP-499899192172387837,348505,348505